<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2022-02-02T17:11:42Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aurelioleclarke/Desktop/Github Projects/Weather App/Weather App.xcodeproj</string>
</dict>
</plist>
